@media screen and (min-width:450px){
    body {
        background-color: black;
    }
}

.contenitore {
    border: 1px solid black;
    width: 350px;
    height: 650px;
    margin-top: 100px;
    margin-left: 24px;
    background-color: white;
    border-radius: 15px;
}

.nome {
    border: none;
    border-bottom: 2px solid rgb(8, 122, 8);
    height: 40px;
    width: 240px;
    margin-top: 0px;
    margin-left: 50px;
    border-radius: 6px;
    font-size: 20px;
}

.cognome {
    border: none;
    border-bottom: 2px solid rgb(8, 122, 8);
    height: 40px;
    width: 240px;
    margin-top: 0px;
    margin-left: 50px;
    border-radius: 6px;
    font-size: 20px;
}

.email {
    border: none;
    border-bottom: 2px solid rgb(8, 122, 8);
    height: 40px;
    width: 240px;
    margin-top: 0px;
    margin-left: 50px;
    border-radius: 6px;
    font-size: 20px;
}

.password {
    border: none;
    border-bottom: 2px solid rgb(8, 122, 8);
    height: 40px;
    width: 240px;
    margin-top: 0px;
    margin-left: 50px;
    border-radius: 6px;
    font-size: 20px;
}

.bottone {
    border: none;
    background-color: rgb(8, 122, 8);
    color: white;
    font-size: 16px;
    width: 250px;
    height: 37px;
    margin-top: 35px;
    margin-left: 50px;
    border-radius: 5px;
}

body {
    background-color: rgb(8, 122, 8);
}

.inserisciNome {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 70px;
    margin-left: 55px;
    color: rgb(8, 122, 8);
}

.inserisciCognome {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 55px;
    color: rgb(8, 122, 8);
}

.inserisciEmail {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 55px;
    color: rgb(8, 122, 8);
}

.inserisciPass {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 55px;
    color: rgb(8, 122, 8);
}

/*email*/

.icona1 {
    color: rgb(8, 122, 8);
    position: absolute;
    font-size: 25px;
    margin-top: 133px;
    margin-left: -280px;
}

/*password*/

.icona2 { 
    color: rgb(8, 122, 8);
    position: absolute;
    font-size: 25px;
    margin-top: 257px;
    margin-left: -280px;
}

/*cognome*/

.icona3 {
    color: rgb(8, 122, 8);
    position: absolute;
    font-size: 25px;
    margin-top: 5px;
    margin-left: -280px;
}

/*nome*/

.icona4 {
    color: rgb(8, 122, 8);
    position: absolute;
    font-size: 25px;
    margin-top: -125px;
    margin-left: -280px;
}